/*-- scss:defaults --*/

$primary: #EA7701 !default;
$presentation-title-slide-text-align: left;
$link-color: $primary;

/*-- scss:rules --*/

/* Body ----- */

:root {
  --r-selection-background-color: #EA7701;
  --r-link-color: #EA7701;
  --r-link-color-dark: #EA7701;
  --r-link-color-hover: #EA7701;
}

.footer a {
  color: #EA7701;
}

/*
p {
  line-height: 1.3;
  font-size: 1.6rem;
}
*/

.medium {
  font-size: 0.85em;
}

.small {
  font-size: 0.75em;
}

/* Others ----- */

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

.center-x {
  display: inline-block;
  text-align: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.brandorange {
  color: $primary !important;
}
