/*-- scss:defaults --*/

// See: <https://quarto.org/docs/output-formats/html-themes.htm>.
// See: <https://quarto.org/docs/authoring/brand.html>.

$content-padding-top: 1.25rem;

$callout-color-note: #EA7701;
$callout-color-tip: #EA7701;
$callout-color-caution: #EA7701;
$callout-color-warning: #EA7701;
$callout-color-important: #EA7701;

/*-- scss:rules --*/

/* Body ----- */

body {
  color: $brand-black;
}

/* Navigation ----- */

div.sidebar-item-container a:hover {
  color: $primary !important;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  font-weight: bold;
}

.sidebar-item .chapter-number .active {
  color: $primary;
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  color: $primary;
}

// #quarto-margin-sidebar.sidebar.margin-sidebar {
//   margin-top: 1.25rem
// }

/* Headings ----- */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  color: $secondary;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h1.unnumbered {
  font-size: 1.4rem;
  font-weight: 500;
}

.header-section-number {
  color: $secondary;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 .header-section-number {
  color: $secondary;
  font-weight: 500;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.2rem;
}

h6, .h6, h5, .h5, h4, .h4 {
  margin-top: 1.5em;
  font-size: 1.1rem;
}

/* Breadcrumbs ----- */

.breadcrumb {
  color: $brand-black-725;
}

.breadcrumb a:any-link {
  color: $brand-black-725;
  text-decoration: none;
}

/* Code ----- */

code {
  color: $secondary;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: $tertiary;
}

.code-tools-button {
  color: $secondary;
}

/* Captions ----- */

.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
  color: $tertiary;
  font-size: 0.9rem;
  text-align: left;
}

.legend {
  font-size: .9rem;
  color: $tertiary;
}

.quarto-float-caption-top {
  margin-bottom: 2em;
}

/* Others ----- */

.center-x {
  display: inline-block;
  text-align: center;
}

.brandorange {
  color: $primary;
}
