# See <https://git-scm.com/docs/gitignore>.

/.auth/
/.quarto/
/_freeze/
/_print/
/_slides/
/_ssh/
/_targets/
/_temp/
/_web/
/index_cache/
/site_libs/

.Rapp.history
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
