.luarc.json
.radian_history
.Rapp.history
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
/_freeze/
/_print/
/_slides/
/_ssh/
/_targets/
/_temp/
/_web/
/.auth/
/.luarc.json
/.quarto/
/index_cache/
/site_libs/
launch.json
